@page  "/checkout2"
@using Northwİnd.Blazor.Models
@using Northwİnd.Blazor.Services.Abstract
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject ICargoService CargoService
@attribute [Authorize]
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><NavLink href="/">Home</NavLink></li>
                    <li aria-current="page" class="breadcrumb-item active">Checkout - Delivery method</li>
                </ol>
            </nav>
        </div>
        <div id="checkout" class="col-lg-9">
            <div class="box">

                <EditForm Model="orderModel" OnValidSubmit="SetCargo">
                    <h1>Checkout - Cargo</h1>
                    <div class="nav flex-column flex-sm-row nav-pills"><NavLink href="checkout" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-map-marker">                  </i>Address</NavLink><NavLink href="checkout2" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-truck">                       </i>Delivery Method</NavLink><NavLink href="checkout3" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-money">                      </i>Payment Method</NavLink><a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye">                     </i>Order Review</a></div>
                    <div class="content py-3">
                        <div class="row">
                            @if (Cargos != null)
                            {
                                @foreach (var item in Cargos)
                                {
                                    <div class="col-md-6">
                                        <div class="box shipping-method">
                                            <h4>@item.name</h4>
                                            <p>Get it right on next day - fastest option possible.</p>
                                            <div class="box-footer text-center">
                                                <input @onclick="@(()=>SetCargoId(item.id))" type="radio" name="delivery" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="box-footer d-flex justify-content-between">
                        <NavLink href="checkout" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to address</NavLink>
                        <button type="submit" class="btn btn-primary">Continue to Delivery Method<i class="fa fa-chevron-right"></i></button>
                    </div>
                </EditForm>
            </div>
            <!-- /.box-->
        </div>
        <!-- /.col-md-9-->
        <div class="col-md-3">
            <div id="order-summary" class="card">
                <div class="card-header">
                    <h3 class="mt-4 mb-4">Order summary</h3>
                </div>
                <div class="card-body">
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Order subtotal</td>
                                    <th>$@SubTotal</th>
                                </tr>
                                <tr>
                                    <td>Shipping and handling</td>
                                    <th>$10.00</th>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>$@Total</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-md-3-->
    </div>
</div>
@code {
    List<Cargo> Cargos = new List<Cargo>();
    OrderModel orderModel = new OrderModel();
    public decimal SubTotal { get; set; }
    public decimal Total { get; set; }
    public int CargoId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var result = await sessionStorage.GetItemAsync<OrderModel>("order");
        if (result != null)
        {
            orderModel = result;
        }
        SubTotal = await sessionStorage.GetItemAsync<decimal>("subtotal");
        Cargos = await CargoService.GetCargos();
        Total = SubTotal + 10;
    }
    void SetCargoId(int cargoId)
    {
        CargoId = cargoId;
        Console.WriteLine(CargoId);
    }
    async Task SetCargo()
    {
        orderModel.CargoId = CargoId;
        await sessionStorage.SetItemAsync("order", orderModel);
        NavigationManager.NavigateTo("/checkout3");
    }
}