@page "/"


<div id="hot">
    <div class="box py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-0">Welcome to Obaju </h2>
                </div>
            </div>
        </div>
    </div>
</div>

